/*Text formatting*/

p, ul, ol {
	color: black;
	font-family: "Raleway", Arial, sans;
	font-size: 1em;
	line-height: 1.3em;
	text-align: left;
}


/*Link states*/

a:link, a:visited {
	color: black;
	text-decoration: none;
	}

a:focus, a:hover {
	color: lightgray;
	transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
	}

a:active {
	}

.navlink {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 4px 7px 2px;
	border-radius: 3px;
	transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
	}

#redlink:hover {
	background-color: #FFADAD;
	color: red;
	}
	
#bluelink:hover {
	background-color: #ADADFF;
	color: blue;
	}

#greenlink:hover {
	background-color: #ADFFAD;
	color: green;
	}


/*Linked font*/

@font-face {
	font-family: Raleway;
	src:
		url('fonts/raleway.eot'),
		url('fonts/raleway.ttf'),
		url('fonts/raleway.woff'),
		url('fonts/raleway.svg');
	}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway, Helvetica, sans-serif;
	font-weight: normal;
	}


/*Page structure*/

#container {
	width: 80%;
	margin: auto;
	}
	
#content {
	margin-top: 4em;
	border-top: 1px solid black;
	}

#footer {
	margin-top: 2em;
	}

.footer {
	font-family: Arial, sans;
	text-align: center;
	color: gray;
	}

#navigation {
	margin-left: -7px;
	}

.color-text {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 6em;
	}

p.colorlink {
	margin: auto;
	margin-top: 20%;
	margin-bottom: 20%;
	}

.colorlink {
	text-decoration: none;
	text-align: center;
	width: 75%;
	height: 100%;
	}

/*Flow of content*/

img {
	float: left;
	padding-right: 2%;
	padding-bottom: .5em;
	}

ul, ol {
	list-style: none;
	padding-left: 0;
	}

li {
	float: left;
	padding-right: 2%;
	}

.shift {
	position: relative;
	left: 9em;
	top: 9em;
	z-index: -1;
	opacity: .5;
	display: none;
	}


/*Media query*/

@media only screen and (min-width: 860px) {
	.col1 {
		width: 32%;
		float: left;
		margin-right: 2%;
	}

	.col2 {
		width: 32%;
		float: left;
		margin-right: 2%;
	}

	.col3 {
		width: 32%;
		float: left;
	}
}